<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="trip">
      <h2 data-cy="tripDetailsHeading">
        <span jhiTranslate="codeMaddApp.trip.detail.title">__jhiTransformTranslate__('codeMaddApp.trip.detail.title')</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ trip.id }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.trip.startTime">__jhiTransformTranslate__('codeMaddApp.trip.startTime')</span></dt>
        <dd>
          <span>{{ trip.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.trip.endTime">__jhiTransformTranslate__('codeMaddApp.trip.endTime')</span></dt>
        <dd>
          <span>{{ trip.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.trip.status">__jhiTransformTranslate__('codeMaddApp.trip.status')</span></dt>
        <dd>
          <span jhiTranslate="{{ 'codeMaddApp.TripStatus.' + trip.status }}">{{ trip.status }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.trip.driver">__jhiTransformTranslate__('codeMaddApp.trip.driver')</span></dt>
        <dd>
          <div *ngIf="trip.driver">
            <a [routerLink]="['/driver', trip.driver.id, 'view']">{{ trip.driver.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.trip.vehicle">__jhiTransformTranslate__('codeMaddApp.trip.vehicle')</span></dt>
        <dd>
          <div *ngIf="trip.vehicle">
            <a [routerLink]="['/vehicle', trip.vehicle.id, 'view']">{{ trip.vehicle.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/trip', trip.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
