<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-driver-heading" data-cy="DriverCreateUpdateHeading" jhiTranslate="codeHtnApp.driver.home.createOrEditLabel">
        __jhiTransformTranslate__('codeHtnApp.driver.home.createOrEditLabel')
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required"
              >__jhiTransformTranslate__('entity.validation.required')</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.rfidUid" for="field_rfidUid">Rfid Uid</label>
          <input type="text" class="form-control" name="rfidUid" id="field_rfidUid" data-cy="rfidUid" formControlName="rfidUid" />
          <div *ngIf="editForm.get('rfidUid')!.invalid && (editForm.get('rfidUid')!.dirty || editForm.get('rfidUid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rfidUid')?.errors?.required" jhiTranslate="entity.validation.required"
              >__jhiTransformTranslate__('entity.validation.required')</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rfidUid')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
              >__jhiTransformTranslate__('entity.validation.maxlength', { "max": 20 })</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.licenseNumber" for="field_licenseNumber">License Number</label>
          <input
            type="text"
            class="form-control"
            name="licenseNumber"
            id="field_licenseNumber"
            data-cy="licenseNumber"
            formControlName="licenseNumber"
          />
          <div
            *ngIf="
              editForm.get('licenseNumber')!.invalid && (editForm.get('licenseNumber')!.dirty || editForm.get('licenseNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('licenseNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >__jhiTransformTranslate__('entity.validation.required')</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('licenseNumber')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
              >__jhiTransformTranslate__('entity.validation.maxlength', { "max": 20 })</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.faceData" for="field_faceData">Face Data</label>
          <textarea class="form-control" name="faceData" id="field_faceData" data-cy="faceData" formControlName="faceData"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="codeHtnApp.driver.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let driverStatus of driverStatusValues" [value]="driverStatus">{{ driverStatus }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel"
            >__jhiTransformTranslate__('entity.action.cancel')</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save"
            >__jhiTransformTranslate__('entity.action.save')</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
