<div>
  <h2 id="page-heading" data-cy="TripHeading">
    <span jhiTranslate="codeHtnApp.trip.home.title">__jhiTransformTranslate__('codeHtnApp.trip.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="codeHtnApp.trip.home.refreshListLabel">__jhiTransformTranslate__('codeHtnApp.trip.home.refreshListLabel')</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trip"
        [routerLink]="['/trip/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="codeHtnApp.trip.home.createLabel">__jhiTransformTranslate__('codeHtnApp.trip.home.createLabel')</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trips?.length === 0">
    <span jhiTranslate="codeHtnApp.trip.home.notFound">__jhiTransformTranslate__('codeHtnApp.trip.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="trips && trips.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="codeHtnApp.trip.startTime">__jhiTransformTranslate__('codeHtnApp.trip.startTime')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="codeHtnApp.trip.endTime">__jhiTransformTranslate__('codeHtnApp.trip.endTime')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="codeHtnApp.trip.status">__jhiTransformTranslate__('codeHtnApp.trip.status')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="driver.id">
            <div class="d-flex">
              <span jhiTranslate="codeHtnApp.trip.driver">__jhiTransformTranslate__('codeHtnApp.trip.driver')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vehicle.id">
            <div class="d-flex">
              <span jhiTranslate="codeHtnApp.trip.vehicle">__jhiTransformTranslate__('codeHtnApp.trip.vehicle')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of trips; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trip', trip.id, 'view']">{{ trip.id }}</a>
          </td>
          <td>{{ trip.startTime | formatMediumDatetime }}</td>
          <td>{{ trip.endTime | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'codeHtnApp.TripStatus.' + trip.status }}">{{ trip.status }}</td>
          <td>
            <div *ngIf="trip.driver">
              <a [routerLink]="['/driver', trip.driver.id, 'view']">{{ trip.driver.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="trip.vehicle">
              <a [routerLink]="['/vehicle', trip.vehicle.id, 'view']">{{ trip.vehicle.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/trip', trip.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button type="submit" [routerLink]="['/trip', trip.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(trip)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trips && trips.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
