<form *ngIf="vehicle" name="deleteForm" (ngSubmit)="confirmDelete(vehicle.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="vehicleDeleteDialogHeading" jhiTranslate="entity.delete.title">
      __jhiTransformTranslate__('entity.delete.title')
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-vehicle-heading" jhiTranslate="codeHtnApp.vehicle.delete.question" [translateValues]="{ id: vehicle.id }">
      __jhiTransformTranslate__('codeHtnApp.vehicle.delete.question', { "id": "{{ vehicle.id }}" })
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">__jhiTransformTranslate__('entity.action.cancel')</span>
    </button>

    <button id="jhi-confirm-delete-vehicle" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete"
        >__jhiTransformTranslate__('entity.action.delete')</span
      >
    </button>
  </div>
</form>
