<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="driver">
      <h2 data-cy="driverDetailsHeading">
        <span jhiTranslate="codeMaddApp.driver.detail.title">__jhiTransformTranslate__('codeMaddApp.driver.detail.title')</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ driver.id }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.name">__jhiTransformTranslate__('codeMaddApp.driver.name')</span></dt>
        <dd>
          <span>{{ driver.name }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.rfidUid">__jhiTransformTranslate__('codeMaddApp.driver.rfidUid')</span></dt>
        <dd>
          <span>{{ driver.rfidUid }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.licenseNumber">__jhiTransformTranslate__('codeMaddApp.driver.licenseNumber')</span></dt>
        <dd>
          <span>{{ driver.licenseNumber }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.faceData">__jhiTransformTranslate__('codeMaddApp.driver.faceData')</span></dt>
        <dd>
          <span>{{ driver.faceData }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.createdAt">__jhiTransformTranslate__('codeMaddApp.driver.createdAt')</span></dt>
        <dd>
          <span>{{ driver.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="codeMaddApp.driver.status">__jhiTransformTranslate__('codeMaddApp.driver.status')</span></dt>
        <dd>
          <span jhiTranslate="{{ 'codeMaddApp.DriverStatus.' + driver.status }}">{{ driver.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/driver', driver.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
